body {
	margin: 0;
	padding: 3.4rem 0 0 0; /* header height */
	background-color: #343536;
	color: #D7DADC;
	font-size: 1.25rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
	text-align: justify;
}

.site-header, footer {
	background-color: #5A2673;
	width: 100%;
}
.site-header {
	position: fixed;
	top: 0;
	font-size: 1.5rem;
	border-bottom: #2D0047 0.05rem solid;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: nowrap;
	z-index: 999;
}
.site-header .logo {
	align-self: flex-start;
	font-size: 0;
}
.site-header .logo img {
	height: 2.6rem;
	margin: 0.3rem;
	border: 0.1rem black solid;
}

.site-header nav {
	display: flex;
	padding-right: 2rem;
	align-items: stretch;
}
.site-header nav .nav-item {
	text-decoration: none;
	padding: 0.7rem;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: normal;
	display: flex;
	align-items: center;
}
.site-header nav .nav-item.active {
	background-color: #2D0047;
	color: #FFF;
}
.site-header nav .nav-item.active:hover {
	color: #8952A2;
}

.icon {
	display: block;
	height: 2rem;
	width: 2rem;
}
.section-rss-link {
	display: inline-block;
	vertical-align: middle;
}
.section-rss-link .icon {
	padding: 0.3rem;
}

footer {
	text-align: center;
	margin-top: 5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
	bottom: 0;
	width: 100%;
	border-top: #2D0047 0.05rem solid;
}

a {
	color: #FFF;
	text-decoration: none;
}
a:hover {
	background-color: #8952A2;
}
a[target=_blank] {
	text-decoration-color: #D7DADC;
	text-decoration-style: dashed;
	text-decoration: underline;
}

hr {
	border-color: #2D0047;
}

.tags a:not(:last-child)::after {
	content: ","
}

.centered {
	text-align: center;
}

.breadcrumbs {
	margin: 0.5rem 0 0.5rem 0;
}
.breadcrumb {
	font-size: 1rem;
	font-weight: bold;
}
.breadcrumb:not(:last-child)::after {
	content: '→';
	margin-left: 0.1rem;
	margin-right: -0.2rem;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 1rem;
		padding: 3rem 0 0 0; /* header height */
	}
	footer {
		font-size: 0.8rem;
		margin-top: 3rem;
	}
	.site-header nav {
		padding-right: 0.4rem;
	}
	.site-header nav .nav-item {
		font-size: 0.9rem;
	}
	.icon {
		height: 1.5rem;
		width: 1.5rem;
	}
	.site-header .logo img {
		height: 2.2rem;
	}
	.breadcrumb {
		font-size: 0.8rem;
	}
}

.content-container {
	width: 95%;
	margin: 0 auto;
	min-height: calc(100vh - 12rem);
}
.content {
	margin: 0 auto;
	max-width: 56rem;
	line-height: 1.6;
	font-weight: 400;
}
.content p {
	margin-top: 0;
}

.content h1, .content h2,
.content h3, .content h4,
.content h5, .content h6 {
	line-height: 1.2;
	padding-bottom: 0.2rem;
	margin-bottom: 1.2rem;
}
.content h1 {
	border-bottom: 0.01rem #2D0047 solid;
}
.content h1 {
	font-size: 2.5rem;
}
.content h2 {
	font-size: 2rem;
}
.content h3 {
	font-size: 1.75rem;
}
.content h4 {
	font-size: 1.5rem;
}
.content h5 {
	font-size: 1.375rem;
}
.content h6 {
	font-size: 1.350rem;
	color: #C0C0C0
}

.content table {
	display: block;
	margin: 1rem 0;
	overflow: auto;
	border-color: #2D0047;
	max-width: 100%;
	border-collapse: collapse;
}

.content table th,
.content table td {
	border: 0.2rem solid #2D0047;
	padding: 0.5rem 1rem;
}

.content blockquote {
	margin: 1.5em 1rem;
	padding: 0.5em 1rem;
	border-left: 0.2rem solid #2D0047;
	quotes: "\201C""\201D""\2018""\2019";
	word-wrap: break-word;
}
.content blockquote:before,
.content blockquote:after {
	color: #2D0047;
	font-size: 4rem;
	line-height: 0.1rem;
}
.content blockquote:before {
	content: open-quote;
	vertical-align: -1.5rem;
}
.content blockquote:after {
	content: close-quote;
	position: absolute;
}
.content blockquote p {
	margin-bottom: 0.5rem;
}
.content blockquote *:last-child {
	margin-bottom: 2.2rem;
}

.content code{
	word-wrap: break-word;
	background-color: #000;
	border: 0.1rem solid #2D0047;
	max-width: 100%;
	display: inline-block;
	font-size: 1.2rem;
}
.content pre {
	margin: 0 auto 1rem auto;
	width: 100%;
	display: block;
}
.content pre code {
	page-break-inside: avoid;
	overflow-x: auto;
	display: block;
	font-size: 1rem;
	padding: 0.5rem;
}

.content img, .content figure {
	max-width: 100%;
}
.content p img:only-child, .content figure img {
	padding: 0;
	margin: 0 auto;
}
.content figure img  {
	width: 100%;
}
.content figure {
	margin: 1.2rem 0 1.2rem 0;
}
.content figure img {
	margin: 0;
}
.content figcaption {
	font-size: 1rem;
	text-align: center;
}

.content ul {
	list-style: none;
	padding-left: 1rem;
}
.content ul li:not(empty)::before {
	display: inline-block;
	color: #2D0047;
	margin-right: 0.5rem;
	width: 1rem;
	font-weight: bold;
	content: '\2022';
}

.content-toc {
	border: 0.1rem #2D0047 solid;
	padding: 1rem 1rem 1rem 0;
	margin: 1rem 0;
}
.content-toc ul {
	margin: 0;
}

.content-list .article-list {
	border-left: 0.1rem #2D0047 solid;
}
.content-list .article-feed li::before,
.content-list .article-list li::before {
	content: unset;
}
.article-feed-view-all-link {
	border: 0.1rem #2D0047 solid;
	text-align: center;
	width: 100%;
}
.article-feed-view-all-link:hover {
	border-color: #8952A2;
}
.content-list h1,.content-list h2,
.content-list h3,.content-list h4,
.content-list h5,.content-list h6 {
	margin-bottom: 0;
}
.content-list .article-feed {
	padding-left: 0;
}

@media screen and (max-width: 600px) {
	.content h1, .content h2,
	.content h3, .content h4,
	.content h5, .content h6 {
		margin-top: 0.5rem;
		margin-bottom: 0.2rem;
	}
	.content h1 {
		font-size: 2.3rem;
	}
	.content h2 {
		font-size: 1.8rem;
	}
	.content h3 {
		font-size: 1.55rem;
	}
	.content h4 {
		font-size: 1.5rem;
	}
	.content h5 {
		font-size: 1.175rem;
	}
	.content h6 {
		font-size: 1.150rem;
	}
	.content blockquote:before,
	.content blockquote:after {
		font-size: 3.8rem;
	}
	.content pre code {
		font-size: 0.8rem;
	}
	.content code {
		font-size: 1rem;
	}
	.content figcaption {
		font-size: 0.8rem;
	}
	.content-list .article-list {
		padding-left: 0.4rem;
	}
}

.article-item {
	border: #2D0047 0.1rem solid;
	text-decoration: none;
	margin: 1rem 0;
}
.article-item:hover {
	border: #8952A2 0.1rem solid;
}
.article-item h3 {
	margin: 1rem;
}
.article-item p {
	margin: 0;
}
.article-item time {
	font-weight: bold;
}
.article-item.with-cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.article-item.with-cover h3 {
	text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.article-item-details {
	background-color: rgba(52,53,54,0.7);
	padding: 1rem;
}

.article-header,
.article-header-no-cover {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	border-bottom: #2D0047 0.1rem solid;
}
.article-header {
	min-height: 40rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.article-header h1,
.article-header-no-cover h1 {
	word-break: break-word;
	color: #FFF;
	font-size: 4rem;
	margin: 2.5rem 1rem 1rem 1rem;
	text-shadow: 0.1rem 0.1rem 0.2rem black;
	text-align: center;
}

.article-header-bottom {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

.article-summary-card {
	display: flex;
	max-width: 35rem;
	font-size: 0.9rem;
	flex-flow: row wrap;
	align-items: center;
	padding: 1rem 1rem 0 1rem;
	background-color: rgba(52,53,54,0.7);
}

.article-facts-container {
	padding: 0.5rem 0 0.5rem 0;
	line-height: 1.6;
}

.article-summary-card .article-author-link {
	display: flex;
	margin-right: 0.3rem;
}
.article-summary-card .article-author-pic {
	margin: 0.3rem;
	height: 2.5rem;
}
.article-summary-card .article-author {
	font-weight: bold;
}
.article-summary-card .article-facts {
	display: flex;
}
.article-summary-card .article-facts span:not(:last-child):after {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	content: '/';
}
.article-summary-card p {
	line-height: 1.2rem;
}

.article-header-credit {
	align-self: flex-start;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 1rem;
	margin-bottom: 0.5rem;
	text-align: right;
	font-size: 0.9rem;
	text-shadow: 0.1rem 0.1rem 0.2rem black;
}

@media screen and (max-width: 600px) {
	.article-header {
		min-height: 0;
	}
	.article-header h1,
	.article-header-no-cover h1 {
		font-size: 2rem;
	}
	.article-summary-card {
		max-width: 100%;
		font-size: 0.7rem;
	}
}
