<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}" type="text/css">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/svg+xml" sizes="16x16" href="{{ "/favicon-16x16.svg" | relURL }}">
<link rel="icon" type="image/svg+xml" sizes="32x32" href="{{ "/favicon-32x32.svg" | relURL }}">
<link rel="icon" type="image/svg+xml" sizes="120x120" href="{{ "/favicon-120x120.svg" | relURL }}">
<link rel="manifest" href="{{ "/site.webmanifest" | relURL }}">
<link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relURL }}" color="#5a2673">

<link rel="author" href="{{ "/about" | absURL }}" type="text/html">
<link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" type="text/html">
<title>{{ .Site.Title }}: {{if .Site.Params.AuthorName }}{{ .Site.Params.AuthorName }} – {{end}}{{ .Title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="msapplication-TileColor" content="#5a2673">
<meta name="theme-color" content="#5a2673">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{if .Site.Params.AuthorName }}
<meta name="author" content="{{ .Site.Params.AuthorName }}">
{{end}}

{{if (or .Description .Summary) }}
<meta name="description" content="{{ .Description | default .Summary }}" />
{{end}}
{{if .Keywords }}
<meta name="keywords" content="{{ delimit .Keywords ", " ", " }}" />
{{end}}
{{ $cover := (.Page.Resources.GetMatch "cover.*") }}
<meta name="twitter:card" content="summary">
{{if .Site.Params.Twitter }}
<meta name="twitter:site" content="{{ .Site.Params.Twitter }}">
{{end}}
<meta name="twitter:title" content="{{ .Site.Title }}: {{if .Site.Params.AuthorName }}{{ .Site.Params.AuthorName }} – {{end}}{{ .Title }}">
{{if (or .Description .Summary) }}
<meta name="twitter:description" content="{{ .Description | default .Summary }}">
{{end}}
<meta name="twitter:image" content="{{if $cover }}{{ $cover.Permalink }}{{else}}{{ "/images/logo.svg" | absURL }}{{end}}">

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Site.Title }}: {{if .Site.Params.AuthorName }}{{ .Site.Params.AuthorName }} – {{end}}{{ .Title }}" />
{{if (or .Description .Summary) }}
<meta property="og:description" content="{{ .Description | default .Summary }}" />
{{end}}
<meta property="og:image" content="{{if $cover }}{{ $cover.Permalink }}{{else}}{{ "/images/logo.svg" | absURL }}{{end}}" />
